<a href="https://colab.research.google.com/github/k-messick/ds1002-vmv6mp/blob/main/week_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [ ]:
# code here
ix = 0
while ix <= 20:
  if ix % 2 == 0:
    print("ix")
    ix += 1

ix

## For-Loops with Lists

In [5]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [6]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

mylist2 = []
for value in mylist:
  if value>=0:
    mylist2.append(value)
print(mylist2)

[9, 15, 23, 4, 92, 47, 33, 17, 18, 38]

In [7]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

import numpy as np
mylist = np.abs(mylist)
mylist

array([  9,  15,  23,   4,  92,  47,  33,  17,   4,  18,  38, 242])

*I know this is not using a for-loop, but figured I'd try another way since I was struggling a bit to get it

In [8]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
mylist4= []
for value in mylist:
  if 20 < value < 40:
    mylist4.append(value)
print(mylist4)

[23, 33, 38]



```
# This is formatted as code
```

## For-Loops with Dictionaries

In [9]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [10]:
# Write a command to print out all the keys of this dict
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

for c in capitals:
    print(c)

United States
Italy
England
Thailand
Brazil

In [11]:
# Write a command to print out all the values of this dict
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}
for c in capitals:
    print(capitals.get(c))

Washington DC
Rome
London
Bangkok
Brasilia

In [12]:
# Write a command to print all the keys and values for this dict
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}
for key, value in capitals.items():
  print(key, " ", value)

United States   Washington DC
Italy   Rome
England   London
Thailand   Bangkok
Brazil   Brasilia

In [15]:
# Write a command to print only the first three values and NOTHING more.
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}
print(capitals.get("United States"))
print(capitals.get("Italy"))
print(capitals.get("England"))

Washington DC
Rome
London

*Is this something I need to be using lookfor with? Such as:

capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

lookfor = {"United States", "Italy", "England"}

for c in capitals:

    #if (c == lookfor):
        #print(str(things[t]))
    #else:
        #print("Nothing here")
        #pass