<a href="https://colab.research.google.com/github/k-messick/ds1002-vmv6mp/blob/main/homework/week-7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 7

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

Load the following dataset into pandas and perform the requested operations in code.

Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [1]:
# Load pandas and the data
import numpy as np
import pandas as pd
ride_sharing = pd.read_csv("https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv")

In [2]:
# show how many rows and columns are in this dataset
ride_sharing.shape

(25760, 10)

In [3]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
ride_sharing['duration'] = ride_sharing['duration'].str.strip('minutes')
ride_sharing['duration'] = ride_sharing['duration'].astype('int')

In [4]:
# Now display the datatypes in the updated dataframe
ride_sharing.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [5]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
ride_sharing["duration"].min()

1

In [6]:
ride_sharing["duration"].max()

1372

In [7]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
new = ride_sharing.query('duration <= 60')

In [8]:
# Now show both the min and max values of the duration column for your new dataset.
new["duration"].min()

1

In [9]:
new["duration"].max()

60

In [10]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
new1 = new.drop(new[new['tire_size'] == 26].index)
print(new1)

       duration  station_A_id  \
1            24             3
2             8            67
4            11            22
5            10            22
7             9            30
...         ...           ...
25752        15            16
25753         9            21
25754         9            21
25758        14            15
25759        29            16

                                          station_A_name  station_B_id  \
1           Powell St BART Station (Market St at 4th St)           118
2      San Francisco Caltrain Station 2  (Townsend St...            23
4                                  Howard St at Beale St           350
5                                  Howard St at Beale St             6
7         San Francisco Caltrain (Townsend St at 4th St)            97
...                                                  ...           ...
25752                            Steuart St at Market St           371
25753   Montgomery St BART Station (Market St at 2nd St)            58
25754   Montgomery St BART Station (Market St at 2nd St)            58
25758  San Francisco Ferry Building (Harry Bridges Pl...            42
25759                            Steuart St at Market St           115

                                      station_B_name  bike_id  user_type  \
1                    Eureka Valley Recreation Center     5193          2
2                      The Embarcadero at Steuart St     3652          3
4                               8th St at Brannan St     4626          2
5                      The Embarcadero at Sansome St     3279          2
7                              14th St at Mission St     5286          2
...                                              ...      ...        ...
25752                     Lombard St at Columbus Ave     4962          2
25753                           Market St at 10th St     4800          2
25754                           Market St at 10th St     5105          1
25758  San Francisco City Hall (Polk St at Grove St)     4438          2
25759                             Jackson Playground     1705          3

       user_birth_year user_gender  tire_size
1                 1965        Male         27
2                 1993        Male         29
4                 1994        Male         27
5                 1979        Male         29
7                 1991        Male         27
...                ...         ...        ...
25752             1994        Male         27
25753             1989        Male         27
25754             1989        Male         29
25758             1995        Male         27
25759             1990        Male         27

[12783 rows x 10 columns]

In [11]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
len(new[(new["user_gender"]=="Female") & (new["tire_size"]==26) & (new["duration"]<=60)])

2962