<a href="https://colab.research.google.com/github/k-messick/ds1002-vmv6mp/blob/main/homework-9/17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 4

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

## 1. Data Types

```python
s = "Fox"
x = 17
y = "3"
z = "false"
```

Using the variables above answer these questions:

In [119]:
# Write a snippet of code that displays the data type (class) of `s`
type('s')

str

In [89]:
from os import X_OK
# Write a snippet of code that adds `x` and `y` and displays their sum.
x = 17
y = 3
add = (x + y)
print(add)

20

In [122]:
# How might you transform z into a boolean value, if you had to? Be creative.
z == 's'

type('z')

str

I am confused on how to transform z into a boolean. I understand booleans are comparisons, so how come when I my line of code expresses a comparison python doesn't read its type as a boolean?

- - -

## 2. Lists

    mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]

Using the list above, answer these questions:

In [29]:
# Write a snippet of code that prints out "Tempe"
mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]
mylist[2]

'Tempe'

In [34]:
# Write a snippet of code that adds "Atlanta" to this list and displays the extended list.
mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]
mylist.append("Atlanta")
mylist

['Chicago', 'New Orleans', 'Tempe', 'Denver', 'Nashville', 'Albany', 'Atlanta']

In [37]:
# Write a snippet of code that prints out only "New Orleans", "Tempe", "Denver".
mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]
mylist[1:4]

['New Orleans', 'Tempe', 'Denver']

- - -

# 3. Dictionaries

    mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}

Answer the following questions:

In [99]:
# Write a snippet of code that returns "Trenton".
mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}
print(mydict.get("NJ"))

Trenton

In [50]:
# Write a snippet of code that adds "CO":"Denver" to `mydict`.
# Remember the built-in .update({'key': 'value'}) method.
mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}
mydict.update({"CO":"Denver"})
mydict

{'VA': 'Richmond',
 'NC': 'Raleigh',
 'NJ': 'Trenton',
 'PA': 'Harrisburg',
 'NY': 'Albany',
 'CO': 'Denver'}

In [107]:
# Write a snippet of code that returns all the keys in `mydict`
mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}
print(list(mydict.keys()))

['VA', 'NC', 'NJ', 'PA', 'NY']

- - -

# 4. NumPy Arrays

Create an `ndarray` that contains the following values and assign the array to a variable.

    2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37

Using that variable, answer the following questions:

In [71]:
import numpy as np
arr=np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37])
print(arr)

[ 2  3  5  7 11 13 17 19 23 29 31 37]

In [73]:
# Write a snippet of code that prints the data type of the elements in the array.
print(type(arr))

<class 'numpy.ndarray'>

In [74]:
# Write a snippet of code that displays `11` from the array.
arr[4]

11

In [75]:
# Write a snippet of code that multiplies each array element by `7` and displays the new values.
print(arr*7)

[ 14  21  35  49  77  91 119 133 161 203 217 259]